.CardWrapper {
  margin: 2vw;
  width: 20%;
  min-width: 300px;
  height: 58vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;

  .Card {
    display: flex;
    padding: 1vw;
    flex-direction: column;
    align-content: space-between;
    -moz-box-shadow: 1vw 2vw 3vw rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1vw 2vw 3vw rgba(0, 0, 0, 0.5);
    box-shadow: 1vw 2vw 3vw rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    .CardImage {
      align-items: center;
      margin: auto;
      height: 18vh;
      width: 18vw;
      border-radius: 5px;
      object-fit: cover;
      transition: 0.5s;
      &:hover {
        height: 22vh;
      }
    }

    .CardPara {
      border-radius: 5px;
      background-color: #f1f1f1;
      height: 100%;
      margin-top: 10%;
      transition: 0.5s;

      .CardTitle {
        margin-top: 1vh;
        font-size: max(1vw, 1.3rem);
        font-weight: bold;
        color: #3f3f3f;
        text-align: center;
        &:hover {
          color: rgb(158, 68, 68);
        }
      }

      .CardStars {
        margin-top: 0.2vw;
      }

      .CardContact {
        font-size: 1.2vw;
        color: #3f3f3f;
      }
      .CardStars {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0.5vw;
        font-size: small;
      }
      .CardDescription {
        text-align: center;
        padding: 1vw;
        .CardAddress {
          font-size: max(1.5vh, 10px);
          color: #3f3f3f;
          height: 5vh;
        }
        .CardContact {
          font-size: max(1.5vh, 10px);
          color: #3f3f3f;
          height: 4vh;
        }
        .CardDist {
          font-size: max(1.5vh, 10px);
          color: #3f3f3f;
        }
      }
      &:hover {
        margin-top: 4%;
        -moz-box-shadow: 1vw 2vw 3vw rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 1vw 2vw 3vw rgba(0, 0, 0, 0.5);
        box-shadow: 1vw 2vw 3vw rgba(0, 0, 0, 0.5);
      }
    }
  }

  &:hover {
    width: 30vw;
    height: 62vh;
    transition: 0.3s;
    cursor: pointer;
    .Card {
      width: 100%;
    }
  }
  transition: 0.5s;
}

.CardButtons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  text-align: center;
  margin: auto;
  margin-top: 1vh;

  .Reserve {
    height: 3vh;
    // background-color: aqua;
    flex: 1;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3px;
  }
  .Detail {
    height: 3vh;
    // background-color: red;
    flex: 1;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3px;

    .DetailPage {
      width: 30vw;
      height: 10vh;
      transition: 0.3s;
    }
  }
  .Review {
    height: 3vh;
    // background-color: bisque;
    flex: 1;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3px;
  }
  .icnBtn {
    transition: 0.1s;
    margin-bottom: 5px;

    &:hover {
      width: 5vw;
      transform: scale(1.5);
    }
  }
}
