.searchBar {
    width: 70%;
    height: 10vh;
    flex-direction: row;
    display: flex;
    text-align: center;

    .searchInput {
        height: 6vh;
        text-align: center;
        background-color: transparent;
        border: 0px solid #000;
        border-bottom: 0.15rem solid #000;
        // flex: 6;
        color: black;
        transition: 0.1s;
        font-size: 3rem;

        &:focus {
            outline: none;
            border-bottom: 0.3rem solid #000;
            transition: 0.1s;
        }
    }
    .searchInput::placeholder {
        color: white;
    }

    .submitBtn {
        margin-left: 1vw;
        height: 6vh;
        font-size: 2rem;
        flex: 1;
        color: black;
        background-color: transparent;
        border: 0.3rem solid #000;
        transition: 0.2s;
        border-radius: 0.3rem;

        &:hover {
            cursor: pointer;
            background-color: #000;
            color: white;
            transition: 0.2s;
        }
    }
}
